<!DOCTYPE html>
<html xmlns:th="http://themeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cafeteria Konecta</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>

       <h1 th:text="${titulo}"></h1>
       
       <label for="iname">id</label>
       <input id="iname" type="text" name="name">
       
       <label for="iname">nombre</label>
       <input id="iname" type="text" name="name">
       
       <label for="iname">referencia</label>
       <input id="iname" type="text" name="name">
       
       <label for="iname">precio</label>
       <input id="iname" type="text" name="name">
       
       <label for="iname">peso</label>
       <input id="iname" type="text" name="name">
       
       <label for="iname">categoria</label>
       <input id="iname" type="text" name="name">
       
       <label for="iname">stock</label>
       <input id="iname" type="text" name="name">
       
       <label for="iname">fecha creacion</label>
       <input id="iname" type="text" name="name">
       
       <button type="submit">Guardar</button>
       
       <button type="submit">BorrarProducto</button>
       
       
</body>
</html>